<div class="hero-unit">
<h1>Welcome to One Month Rails</h1>

<p>
	You have found the home page for the
	<!--this is a rails helper that helps us to create link rather than using a href in HTML-->
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	by <%= link_to "Mattan Griffel", "http://mattangriffel.com" %>
</p>

<p>
	<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-large" %>
</p>
</div>